@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../css/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Banny";
  src: url("../css/fonts/Banny-Round.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- teb-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.color-white {
  color: #FFFFFF; }

.color-black {
  color: #000000; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'OpenSans';
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 132em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'OpenSans';
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF; }

.text-secondary {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  font-size: 1.118rem;
  line-height: 1.864;
  text-align: center; }

.text-small {
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3rem;
  letter-spacing: .6rem;
  text-align: center;
  top: .8rem; }
  @media only screen and (max-width: 37.5em) {
    .text-small {
      margin-bottom: 1rem; } }

.line {
  position: relative;
  background-color: #E8C300;
  width: 5.6rem;
  height: .4rem;
  border: none;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%);
  text-align: center; }

.heading-primary {
  font-family: "Banny";
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 8.946rem; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }

.heading-secondary {
  position: relative;
  font-family: "Banny";
  font-style: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 3.355rem;
  letter-spacing: .25rem; }
  .heading-secondary--white {
    color: #FFFFFF; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: .8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-small-2 {
  margin-bottom: 2.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small-2 {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 3.5rem !important; }

.u-margin-top-medium-2 {
  margin-top: 4.7rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 15rem !important; }

.u-padding-top-small {
  padding-top: 3rem !important; }

.btn {
  width: 18.7rem;
  height: 5.6rem;
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(112, 112, 112, 0);
  color: #FFFFFF;
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      width: 13.7rem;
      height: 4.6rem; } }
  .btn:not(:last-child) {
    margin-right: 3.5rem; }
  .btn__text {
    letter-spacing: .07rem;
    font-weight: 700; }
  .btn:hover {
    background-color: #E8C300;
    border: 1px solid #E8C300;
    cursor: pointer; }

/* Слайдер */
.slider .slick-slider {
  position: relative; }

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slider .slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slider .slick-track {
  display: flex; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slider .slick-arrow {
  position: absolute;
  top: 10%;
  z-index: 10;
  font-size: 0;
  height: 90%;
  opacity: 0; }

/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  left: 0;
  width: 20%; }

/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 0;
  width: 20%; }

/* Стрелка не активная */
/* Точки (булиты) */
.slider .slick-dots {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5.5rem; }
  @media only screen and (max-width: 37.5em) {
    .slider .slick-dots {
      top: -4rem; } }

.slider .slick-dots li {
  list-style: none; }
  .slider .slick-dots li:not(:last-child) {
    margin-right: 22px; }

/* Элемент точки */
.slider .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  height: 9.32px;
  width: 9.32px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none; }

/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #FFFFFF; }

.choco {
  position: relative;
  height: 62.9rem;
  width: 100vw;
  background-image: url("../img/specialty.png");
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  overflow: hidden;
  float: left; }
  @media only screen and (max-width: 37.5em) {
    .choco {
      height: 71rem; } }
  .choco__img {
    position: relative;
    background-image: url("../img/Rectangle.png");
    width: 53.7rem;
    height: 53.7rem;
    background-size: cover;
    left: 14.3rem; }
    @media only screen and (max-width: 80em) {
      .choco__img {
        width: 50rem;
        height: 50rem; } }
    @media only screen and (max-width: 75em) {
      .choco__img {
        width: 40rem;
        height: 40rem;
        left: 50%;
        top: 50%;
        transform: translate(-120%, 20%); } }
    @media only screen and (max-width: 56.25em) {
      .choco__img {
        width: 40rem;
        height: 40rem;
        left: 50%;
        top: 50%;
        transform: translate(-105%, 20%); } }
    @media only screen and (max-width: 37.5em) {
      .choco__img {
        width: 30rem;
        height: 30rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%); } }
  .choco__square {
    position: relative;
    width: 23.296rem;
    height: 24.482rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    border: 1.8rem solid #E8C300;
    border-radius: 4.66px;
    top: 50%;
    right: 35%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: all .5s; }
    @media only screen and (max-width: 80em) {
      .choco__square {
        transform: translate(45%, -50%); } }
    @media only screen and (max-width: 75em) {
      .choco__square {
        width: 18rem;
        height: 18rem;
        transform: translate(50%, -50%); } }
    @media only screen and (max-width: 56.25em) {
      .choco__square {
        width: 18rem;
        height: 18rem;
        transform: translate(50%, -50%); } }
    @media only screen and (max-width: 37.5em) {
      .choco__square {
        width: 12rem;
        height: 12rem;
        border: 1rem solid #E8C300;
        top: 50%;
        right: 35%;
        transform: translate(60%, -50%); } }
  .choco__header {
    position: absolute;
    top: 20rem;
    right: 7rem;
    max-width: 55.8rem; }
    @media only screen and (max-width: 80em) {
      .choco__header {
        width: 50rem;
        height: 50rem; } }
    @media only screen and (max-width: 75em) {
      .choco__header {
        width: 50rem;
        height: 50rem; } }
    @media only screen and (max-width: 56.25em) {
      .choco__header {
        width: 40rem;
        height: 40rem;
        left: 50%;
        top: 50%;
        transform: translate(-10%, -40%); } }
    @media only screen and (max-width: 37.5em) {
      .choco__header {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 30rem; } }
  .choco__text-one {
    padding-top: 1.5rem;
    font-size: 1.677rem;
    font-weight: 700;
    line-height: 2.709rem;
    letter-spacing: 0.07rem;
    color: #FFFFFF;
    font-style: normal;
    text-align: center; }
  .choco__text-two {
    padding-top: 1.5rem;
    font-size: 1.305rem;
    font-weight: 400;
    line-height: 2.236rem;
    color: rgba(255, 255, 255, 0.9);
    font-style: normal;
    text-align: center; }

.footer {
  height: 62.9rem;
  width: 100%;
  background-image: url("../img/specialty.png");
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19rem 0 19rem; }
  .footer__box-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 44rem;
    max-height: 44rem;
    margin-top: 4.5rem;
    margin-bottom: 4rem; }
  .footer__img {
    width: 100%;
    height: 100%;
    z-index: 1000;
    object-fit: cover;
    border-radius: 4.66px; }
    @media only screen and (max-width: 80em) {
      .footer__img {
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 75em) {
      .footer__img {
        width: 100%;
        height: 100%; } }
  .footer__item-left {
    position: absolute;
    background-color: #000000;
    width: 20%;
    height: 100%;
    right: 0;
    border-radius: 0 4.66px 4.66px 0; }
  .footer__item-right {
    position: absolute;
    background-color: #000000;
    width: 20%;
    height: 100%;
    left: 0;
    border-radius: 4.66px 0 0 4.66px; }
  .footer__item-text {
    position: relative;
    font-family: "Banny";
    font-size: 2.236rem;
    text-transform: uppercase; }
    .footer__item-text--left {
      position: absolute;
      left: -1.5rem;
      top: 6rem;
      transform: rotate(90deg); }
    .footer__item-text--right {
      position: absolute;
      transform: rotate(-180deg);
      writing-mode: vertical-lr;
      left: 3rem;
      bottom: 2rem; }
  .footer__text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;
    font-size: 1.118rem;
    line-height: 1.864;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.8px; }
    .footer__text:link,
    .footer__text :visited {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none; }
  .footer__phone {
    font-weight: 700; }
  .footer__square {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 23rem;
    max-height: 23rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    border: 1.8rem solid #E8C300;
    border-radius: 4.66px;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -50%);
    opacity: 0;
    transition: all .5s; }
  .footer__square-right {
    position: absolute;
    width: 23rem;
    height: 23rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
    border: 1.8rem solid #E8C300;
    border-radius: 4.66px;
    top: 50%;
    left: 50%;
    transform: translate(45%, -50%);
    opacity: 0;
    transition: all .5s; }

.header {
  width: 100%;
  height: 74.5rem;
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7.455rem;
    justify-content: space-between; }
  .header__left {
    display: flex; }
  .header__item-box {
    display: flex;
    flex-direction: column;
    width: 12.394rem;
    height: 9.319rem;
    justify-content: center; }
  .header__item {
    text-align: center;
    font-weight: bold;
    font-size: 1.18rem;
    color: #FFFFFF;
    text-decoration: none;
    flex-wrap: wrap;
    line-height: 1.7rem;
    letter-spacing: .11rem;
    text-transform: uppercase;
    transition: all .4s;
    display: block; }
    .header__item:hover {
      color: #E8C300; }
  .header__logo-box {
    position: relative;
    top: 2.33rem; }
  .header__logo {
    width: 13.978rem;
    height: 13.978rem; }
  .header__right {
    display: flex; }
  .header__timer-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.0rem;
    height: 6.4rem;
    background: rgba(196, 196, 196, 0.3);
    left: -3px;
    top: 11.2rem; }
  .header__timer-text {
    font-weight: bold;
    font-size: 4.046rem;
    color: #FFFEFE;
    line-height: 0px; }
  .header__time {
    font-weight: bold;
    font-size: 4.046rem;
    color: #FFFEFE;
    line-height: 0px; }
  .header__work-time {
    position: absolute;
    top: 41rem;
    left: -3.3rem; }
  .header__work {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1rem;
    letter-spacing: .01rem;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg); }
  .header__networks-box {
    position: absolute;
    right: 7.5rem;
    top: 31.5rem; }
  .header__circle {
    border-radius: 50%;
    border: 1px solid rgba(112, 112, 112, 0.5);
    margin-bottom: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__circle--active {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 105%; }
  .header__icon--fb {
    background-image: url("../img/fb.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px; }
  .header__icon--tw {
    background-image: url("../img/tw.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px; }
  .header__icon--inst {
    background-image: url("../img/inst.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px; }
  .header__block {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .header__btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__anchor-box {
    background-color: #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%; }
  .header__anchor {
    background-image: url("../img/angle-down.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media only screen and (max-width: 80em) {
    .header .header {
      font-size: 50%; }
      .header .header__menu {
        padding-top: 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around; }
      .header .header__logo-box {
        position: relative; }
      .header .header__logo {
        width: 8.978rem;
        height: 8.978rem; }
      .header .header__timer-box {
        left: -3px;
        top: 17.2rem; } }
  @media only screen and (max-width: 75em) {
    .header .header {
      font-size: 50%; }
      .header .header__menu {
        padding-top: 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around; }
      .header .header__logo-box {
        position: relative; }
      .header .header__logo {
        width: 8.978rem;
        height: 8.978rem; }
      .header .header__timer-box {
        left: -3px;
        top: 17.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .header .header__menu {
      padding-top: 1rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around; }
    .header .header__item-box {
      width: 9.394rem;
      height: 6.319rem; }
    .header .header__logo-box {
      position: relative; }
    .header .header__logo {
      width: 7.978rem;
      height: 7.978rem; }
    .header .header__timer-box {
      left: -3px;
      top: 17.2rem; }
    .header .header__work-time {
      position: absolute;
      top: 41rem;
      left: -7.5rem; }
    .header .header__networks-box {
      right: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .header .header {
      width: 100%;
      height: 74.5rem;
      background-image: url("../img/header-bg.png");
      background-position: center;
      background-size: cover;
      position: relative; }
      .header .header__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
      .header .header__left {
        display: flex; }
      .header .header__item-box {
        padding: 0;
        margin: 0; }
      .header .header__item {
        text-align: center;
        font-weight: bold;
        font-size: 1.18rem;
        color: #FFFFFF;
        text-decoration: none;
        flex-wrap: wrap;
        line-height: 1.7rem;
        letter-spacing: .11rem;
        text-transform: uppercase;
        transition: all .4s; }
        .header .header__item:hover {
          color: #E8C300; }
      .header .header__logo-box {
        position: absolute;
        left: 1rem;
        top: 1rem; }
      .header .header__logo {
        width: 4.978rem;
        height: 4.978rem; }
      .header .header__right {
        display: flex; }
      .header .header__timer-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24.0rem;
        height: 6.4rem;
        background: rgba(196, 196, 196, 0.3);
        left: -3px;
        top: 17.2rem; }
      .header .header__timer-text {
        font-weight: bold;
        font-size: 4.046rem;
        color: #FFFEFE;
        line-height: 0px; }
      .header .header__time {
        font-weight: bold;
        font-size: 4.046rem;
        color: #FFFEFE;
        line-height: 0px; }
      .header .header__work-time {
        position: absolute;
        top: 41rem;
        left: -11rem; }
      .header .header__work {
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 1rem;
        letter-spacing: .01rem;
        text-align: center;
        color: #FFFFFF;
        transform: rotate(-90deg); }
      .header .header__networks-box {
        position: absolute;
        right: .5rem;
        top: 25.5rem; }
      .header .header__circle {
        margin-bottom: 1.5rem;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center; } }

.menu {
  margin: 0rem 5rem 4.5rem 7.8rem; }
  .menu__text {
    position: relative;
    padding-top: 2.5rem;
    font-size: 1.677rem;
    font-weight: 700;
    line-height: 2.709rem;
    letter-spacing: 0.07rem;
    color: #000000;
    font-style: normal;
    text-align: center;
    max-width: 52.6rem;
    left: 50%;
    transform: translate(-50%); }
  .menu__product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem; }
  .menu__product-food {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    width: 11.1rem;
    height: 4.65rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-size: 1.18rem;
    line-height: 1.7rem;
    letter-spacing: .11rem; }
    .menu__product-food:not(:last-child) {
      border-right: 1px solid rgba(51, 51, 51, 0.2); }
    .menu__product-food:visited,
    .menu__product-food :link {
      text-align: center;
      width: 11.1rem;
      height: 4.65rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #333333;
      font-weight: bold;
      font-size: 1.18rem;
      line-height: 1.7rem;
      letter-spacing: .11rem; }
  .menu__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.5rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 80em) {
      .menu__price {
        justify-content: center; } }
  @media only screen and (max-width: 80em) {
    .menu__price-box {
      margin-right: 2rem; } }
  .menu__item {
    margin-bottom: 3rem; }
  .menu__text-one {
    color: #333333;
    font-size: 1.67rem;
    font-family: "Banny";
    line-height: 1.2rem;
    letter-spacing: .16rem;
    font-weight: bold; }
    @media only screen and (max-width: 37.5em) {
      .menu__text-one {
        line-height: 2rem;
        letter-spacing: .01rem; } }
  .menu__text-two {
    color: #999999;
    font-size: 1.18rem;
    font-weight: 400;
    letter-spacing: .04rem; }

.section-forms {
  width: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2.3rem;
  margin-left: 12rem;
  justify-content: center;
  margin-right: 14rem; }
  @media only screen and (max-width: 37.5em) {
    .section-forms {
      display: flex;
      justify-content: center;
      margin-right: 0;
      margin-left: 0; } }
  .section-forms__box-form {
    position: relative;
    margin-top: 10rem;
    margin-right: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .section-forms__box-form {
        margin-right: 0;
        margin-top: 5rem; } }
  .section-forms__form {
    max-width: 53rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .section-forms__form {
        flex-direction: column;
        align-items: center; } }
  .section-forms__btn {
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 0.5);
    width: 25.7rem;
    height: 5.59rem;
    background-color: #E5E5E5;
    border: none;
    border-radius: 4.66px;
    padding: 2rem;
    margin-bottom: .9rem; }
    .section-forms__btn:focus, .section-forms__btn::placeholder {
      color: rgba(51, 51, 51, 0.5); }
    .section-forms__btn--enother {
      font-size: 1.118rem;
      font-weight: bold;
      width: 52.5rem;
      height: 5.5rem;
      background-color: #E8C300;
      border: none;
      border-radius: 4.66px;
      color: #FFFFFF;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      @media only screen and (max-width: 37.5em) {
        .section-forms__btn--enother {
          max-width: 25.7rem;
          max-height: 5.59rem; } }
  .section-forms__btn-select {
    margin-bottom: .9rem;
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 0.5);
    width: 25.7rem;
    height: 5.59rem;
    background-color: #E5E5E5;
    border: none;
    border-radius: 4.66px;
    padding: 2rem;
    appearance: none;
    background-image: url("../img/untitled-grey.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 92%; }
  .section-forms__box-img {
    width: 53.7rem;
    height: 53.7rem; }
    @media only screen and (max-width: 37.5em) {
      .section-forms__box-img {
        display: none; } }
  .section-forms__img {
    position: relative;
    background-image: url("../img/about-img.png");
    width: 53.7rem;
    height: 53.7rem;
    background-size: cover; }
  .section-forms__square {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    border: 1.8rem solid #E8C300;
    border-radius: 4.66px;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
    opacity: 0;
    transition: all .5s; }

.text-box {
  position: relative;
  top: -1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .text-box {
      top: 2rem; } }
  .text-box__text {
    text-align: center;
    color: rgba(51, 51, 51, 0.5); }

.main {
  background-color: #FFFFFF;
  width: 100%;
  height: auto; }

.article {
  position: relative;
  overflow: hidden; }
