.section-forms {
    width: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2.3rem;
    margin-left: 12rem;

    &__box-form {
        position: relative;
        margin-top: 10rem;
        margin-right: 1.6rem;
    }

    &__form {
        max-width: 53rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__btn {
        font-size: 1.3rem;
        color: rgba(51, 51, 51, 0.5);
        width: 25.7rem;
        height: 5.59rem;
        background-color: $color-grey;
        border: none;
        border-radius: 4.66px;
        padding: 2rem;
        margin-bottom: .9rem;

        &:focus, 
        &::placeholder {
            color: rgba(51, 51, 51, 0.5);
        }

        &--enother {
            font-size: 1.118rem;
            font-weight: bold;
            width: 52.5rem;
            height: 5.5rem;
            background-color: $color-yellow;
            border: none;
            border-radius: 4.66px;
            color: $color-white;
        }
    }

    &__btn-select {
        margin-bottom: .9rem;
        font-size: 1.3rem;
        color: rgba(51, 51, 51, 0.5);
        width: 25.7rem;
        height: 5.59rem;
        background-color: $color-grey;
        border: none;
        border-radius: 4.66px;
        padding: 2rem;
        appearance: none;
        background-image: url("../img/untitled-grey.svg");
        background-size: 20px;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 92%;
        
    }

    &__box-img {
        width: 53.7rem;
        height: 53.7rem;
    }

    &__img {
        position: relative;
        background-image: url('../img/about-img.png');
        width: 53.7rem;
        height: 53.7rem;
        background-size: cover;

    }

    &__square {
        position: absolute;
        width: 20rem;
        height: 20rem;
        background-color: rgba(0, 0, 0, 0);
        z-index: 100;
        border: 1.8rem solid $color-yellow;
        border-radius: 4.66px;
        top: 50%;
        left: 50%;
        transform: translate(60%, -50%);
        opacity: 0;
        transition: all .5s;
    }

}
.text-box {
    position: relative;
    top: -1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    
    &__text {
        text-align: center;
        color: rgba(51, 51, 51, 0.5);
    }
}

